/*index principal*/
.tituloprincipal{
  color:#CECFCE;
  text-align: center;
}
h2{
  text-align: center;
  color: 	#400D12;

}
.menucuentos {
  float: left;
  width: 20%;
  background-color:  #E18942 ;
}
.menucuentos ul {
  list-style-type: none;
  padding-left: 6px;
}
.menucuentos ul li {
  padding-left: 10px;
  margin-top: 10px;
  border-left: 5px solid rgb(68, 5, 60);
}
.cuentosprincipal {
  float: right;
  width: 80%;
  background-color:  #CF7F26   ;
  text-align: justify;
}
body{
  background-color:	 #570517;
}
 .imagenespoe{
  margin: auto;
  border:rgb(90, 13, 13);
  border-style: groove;
  border-width: 7px;
  border-radius: 15px;
 }
 .imgpoe{
    border: 20px;
    height: 250px;
    width: 340px;
    border: 5;
  }
 .menu{
    color: white;
  }
 .parrafob{
  margin: 30px 10px 50px 10px;
 }
.parrafo{
  margin: 20px;
}
.imagen{
  height: 150px;
  width: 135px;
  margin: 5px 10px 15px 20px;
  float: left;
  align-content:left;
  border:rgb(83, 37, 19);
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
}
.parrafoint{
  margin-bottom: 50px;
  margin-top: 10px;
}
.parrafoint1{
  margin: 30px 10px 80px 10px;
}
#parrafomg{
  margin: 30px 10px 80px 10px;
}
.divcomentarios{
  margin: 0px 50px;
  background-color: #ce4015a1;
  border-radius: 8px;
}
.parrafocuento{
  font-style: italic;
}

/*resena de bon bon*/
.parrafocuentobon{
  font-style: italic;
}
.imgbonbonresena{
  height: 380px;
  width: 295px;
  margin: 5px 45px 25px 20px;
  float: left;
  align-content:left;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
}

.h2bon{
  color: #0c4568;
}

.ulbon{
  color: #06263a;
  margin: 10px 15px 10px 45px;
}

.bodybon{
  background-color: #8A949B;
  text-align: justify;
  
}

.spanbon{
  font-size: 17px;
}

.h1bon{
 text-align: center;
 font-size: 50px;
 color: #243743;
}

/*resena del diablo en el campanario*/
.parrafocuentocamp{
  font-style:italic; 
}

.imgdiablocamp{
  
      height: 310px;
      width: 265px;
      margin: 5px 45px 25px 20px;
      float: left;
      align-content:left;
      border:rgb(0, 0, 0);
      border-style: solid;
      border-width: 4px;
      border-radius: 8px;
    
}

.pcamp{
  color:  #400D12;
}


.bodycamp{
  background-color: #4FD5D6;
  text-align: justify;
}

.h2camp{
  color: rgb(211, 66, 66);
}


.ulcamp{
  margin: 40px 10px;
  color: rgb(36, 7, 10);
}

.spancamp{
  font-size: 17px;
}

.h1camp{
 text-align: center;
 font-size: 50px;
 color: 	rgb(228, 2, 2);
}

/*resena del sistema del doctor tarr*/
.imgsistemadoc{
  height: 380px;
  width: 405px;
  margin: 5px 45px 25px 20px;
  float: left;
  align-content:left;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
}

.bodydoc{
  background-color: #D08504;
  text-align: justify;
  
}

.parrafocuentodoc{
  font-style: italic;
}

.spandoc{
  font-size: 17px;
}

.h1doc{
 text-align: center;
 font-size: 50px;
 color: #660000;
}

.h2doc{
    color: maroon;
}

.uldoc{
  margin: 10px 15px 10px 45px;
  color:  rgb(15, 43, 112);
}

/*resena de Los anteojos*/
.imganteojos1ante{
  height: 250px;
 width: 295px;
 margin: 0px 45px 25px 20px;
 float: left;
 align-content:left;
 border:rgb(0, 0, 0);
 border-style: solid;
 border-width: 4px;
 border-radius: 8px;
}
.imganteojosante{
   height: 380px;
  width: 295px;
  margin: 5px 45px 25px 20px;
  float: left;
  align-content:left;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
}

.bodyante{
  background-color:  #DCDB45;
  text-align: justify;  
}
.pante{
  color: 	#234311;
}

.h1ante{
   color:  rgb(102, 77, 0);
   text-align: center;
 font-size: 50px;
}

.h2ante{
   color: #4A6713;
}


.p1ante{
  font-style: italic;
}
.spanante{
  font-size: 17px;
}

.ulante{
  margin: 10px 15px 10px 45px;
  color: rgb(29, 37, 14);
}

/*resena nunca apuestes tu cabeza al diablo*/
.parrafocuentonunca{
  font-style: italic;
}

.imgcabezanunca{
  height: 380px;
  width: 295px;
  margin: 5px 45px 25px 20px;
  float: left;
  align-content:left;
  border:rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
}

.h2nunca{
  color: #8a3620;
}

.pnunca{
    color: #29264E;
}

.bodynunca{
  background-color: #F9D08B;
  text-align: justify;
}

.spannunca{
  font-size: 17px;
}

.h1nunca{
 text-align: center;
 font-size: 50px;
 color: rgb(121, 42, 18);
}

.ulnunca{
  margin: 10px 15px 10px 45px;
  color: rgb(64, 15, 110);

} 
/*cuento bon bon*/
.fondocb{
  background-color: #C0C0C0;
  text-align: justify;
  color: #000044;
}

.h1cb{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: 	rgb(14, 106, 199);

}
/*cuento los anteojos*/
.fondoca{
  background-color: #A4E666;
  text-align: justify;
  color: black;
}

.h1ca{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: 		#494d28;

}
/*cuento doctor tarr*/
.fondocdt{
  background-color: #FEB729;
  text-align: justify;
  color:  #00275E;
}

.h1cdt{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: orangered;
}

/*cuento campanario*/
.fondocc{
  background-color: rgb(29, 1, 1);
  text-align: justify;
  color: white;
}

.h1cc{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: tomato;

}
/*cuento nunca apuestes*/
.fondocn{
  text-align: justify;
  background-color: rgba(161, 128, 16, 0.651);
  color: rgb(126, 49, 14);  
}

.h1cn{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;
  color: rgb(119, 11, 11);

}